// .app__ {
//   &container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: #282c34;
//     height: 100%;
//     width: 100%;
//     &__slider {
//       display: flex;
//       flex-direction: row;
//       height: 50%;
//       width: 50%;
//       background: #00cce7;
//       border: 10px solid #fff;
//       &__logo {
//         height: 40vmin;
//         pointer-events: none;
//       }
//       &__content {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         padding: 15px;
//         h2, p {
//           padding: 4px;
//           margin: 0;
//         }
//       }
//     }
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   .app__container__slider__logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @media screen and (max-width: 970px) {
//   .app__container__slider {
//     flex-direction: column;
//   }
//   .app__container__slider__content {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
