.slidertool__ {
  &container {
    position: absolute;
    top: 5vh;
    right: 5vh;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 32px;
    background: #282c34;
    select {
      background: none;
      border: none;
      color: #fff;
      font-weight: 600;
      padding: 0 10px;
      font-size: 1em;
    }
    option {
      background: #282c34;
      border: none;
      font-weight: 600;
    }
    &__button {
      border: 2px solid #282c34;
      color: #282c34;
      background: #fff;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding: 5px 10px;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        border: 2px solid #fff;
        color: #fff;
        background: #282c34;
      }
      i {
        font-size: 1.6em;
      }
    }
    &__modal {
      display: flex;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background: rgba(0,0,0,0.4); /* Black w/ opacity */
      &__content {
        position: sticky;
        background: #fefefe;
        margin: auto;
        padding: 40px 20px 20px;
        border: 1px solid #888;
        height: 50%;
        width: 50%;
        overflow: auto;
        transition-timing-function: ease;
        transition: width 2s, height 2s;
        &__button {
          border: 2px solid #282c34;
          color: #282c34;
          background: #fff;
          border-radius: 5px;
          margin: 0 5px 5px 0;
          padding: 5px 10px;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            border: 2px solid #fff;
            color: #fff;
            background: #282c34;
          }
        }
        form {
          width: 100%;
          margin: 0
        }
        fieldset {
          width: 100%;
          margin: 0 0 5px;
          border: 2px solid #000;
          border-radius: 5px;
          font-weight: 600;
          font-size: 1.2em;
        }
        &__form {
          display: flex;
          flex-direction: column;
          width: 100%;
          label {
            font-weight: 600;
            margin: 0;
            padding: 0;
          }
          &--input {
            width: 100%;
            margin: 2px 0 5px 0;
            border: 1px solid #000;
            border-radius: 10px;
            padding: 10px;
          }
          textarea {
            resize: none;
            overflow: auto;
          }
          &__image {
            height: 25%;
            width: 25%;
            object-fit: cover;
            z-index: -1;
          }
        }
        &--close {
          position: absolute;
          right: 0;
          top: 0;
          margin: 4px 10px;
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          background: none;
          border: 0;
          &:hover,
          &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
        }
        table {
          background-color: #fff;
          border: 1px solid #eee;
          border-collapse: collapse;
          width: 100%;
          height: calc(100% - 28px); /// tu
          thead, tbody tr {
            width: 100%;
            display: table;
            table-layout: fixed;
          }
          tbody {
            display: block;
            height: calc(100% - 46px); /// tu
            overflow: auto;
          }
          th {
            background-color: #eee;
            border-bottom: 1px solid #eee;
            font-weight: 600;
            padding: 0.75rem;
            text-align: left;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
          }
          td {
            border-bottom: 1px solid #eee;
            padding: 0.75rem;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
          tr,
          td,
          th {
            vertical-align: middle;
          }
          button {
            border: 2px solid #fff;
            border-radius: 5px;
            margin: 5px;
            padding: 5px 10px;
            color: #fff;
            font-weight: 500;
            background: #fff;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
            &.delete {
              border: 2px solid #ff0000;
              color: #ff0000;
              &:hover {
                background: #ff0000;
                border: 2px solid #fff;
                color: #fff;
              }
            }
            &.edit {
              border: 2px solid #43af48;
              color: #43af48;
              &:hover {
                background: #43af48;
                border: 2px solid #fff;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
  }
  .slidertool__container__modal__content {
    height: 100%;
    width: 100%;
    transition-timing-function: ease;
    transition: width 2s, height 2s;
    table tbody {
      height: 100%;
    }
  }
	thead tr { 
    display: none;
	}
	td { 
    border: none;
	}
	td:before { 
    color: #000;
    font-weight: bold;
    font-style: italic;
    margin-right: .5rem;
    display: inline-block;
  }
	td:nth-of-type(1):before { content: "Title"; }
	td:nth-of-type(2):before { content: "Category"; }
	td:nth-of-type(3):before { content: "Description"; }
	td:nth-of-type(4):before { content: "Image"; }
	td:nth-of-type(5):before { content: "Options"; }
}
