.slider__ {
  &container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #282c34;
    height: 100%;
    width: 100%;
    &__wrap {
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      min-height: 500px;
      height: 50%;
      width: 50%;
      position: absolute;
      opacity: 0;
      transition: .3s ease;
      border: 10px solid #fff;
      padding: 5px;
      margin: 5px;
      transition: width 2s, height 2s;
      &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        padding: 15px;
        h1, h2, p {
          padding: 4px;
          margin: 0;
          color: #fff;
          text-shadow: 2px 2px 1px #000;
        }
      }
      ul {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      ul li {
        margin: 0 .5em;
      }
      ul li span {
        display: inline-block;
        width: 18px;
        height: 18px;
        font-size: 0;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        outline: none;
        box-sizing: border-box;
        transition: .2s ease-in-out;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        &:hover,
        &.active {
          background-color: #fff;
          text-decoration: none;
        }
      }
      &.active {
        opacity: 1;
        transition-duration: .2s;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .slider__container__wrap {
    flex-direction: column;
    height: 80%;
    width: 80%;
    transition: width 2s, height 2s;
  }
  .slider__container__wrap__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
